<%- include("partials/header") -%>

<% if(Array.isArray(LinkItem)){ %>
<div class="row ms-4 me-2">
  <% LinkItem.forEach((fooditem, i) => { %>
  <div class="col-lg-3 col-md-4 col-sm-6 g-3">
    <div class="card w-80 h-100">
      <div class="card-body">
        <h5 class="card-title"><%= fooditem.name %></h5>
        <ul class="list-group">
          <li>Price Range: <%= fooditem.price %></li>
          <li>Location: <%= fooditem.location %></li>
          <li>Availability :<%= fooditem.availability %></li>
          <li>Cuisine Type :<%= fooditem.cuisine %></li>
          <li>Option :<%= fooditem.option %></li>
          <li>Comments :<%= fooditem.comments %></li>
        </ul>
        <a href="/link/<%=fooditem._id %>" class="card-link">Card link</a>
      </div>
    </div>
  </div>
  <%  }); %>
</div>
<% } else { %>
<div class="card mx-auto h-100 w-50">
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title"><%= LinkItem.name %></h5>
        <ul class="list-group">
          <li>Price Range: <%= LinkItem.price %></li>
          <li>Location: <%= LinkItem.location %></li>
          <li>Availability :<%= LinkItem.availability %></li>
          <li>Cuisine Type :<%= LinkItem.cuisine %></li>
          <li>Option :<%= LinkItem.option %></li>
          <li>Comments :<%= LinkItem.comments %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
<% } %>


<%- include("partials/footer") -%>
